/* ==UserStyle==
@name         (Old) Reddit Bare Dark
@namespace    github.com/losuler/reddit-bare-userstyle
@homepageURL  https://github.com/losuler/reddit-bare-userstyle
@description  A userstyle that strips Reddit down to the bare minimum. 
@updateURL    https://github.com/losuler/reddit-bare-userstyle/blob/master/reddit-bare-dark.user.css
@version      0.1.0
@preprocessor stylus
==/UserStyle== */
@-moz-document url-prefix("https://old.reddit.com") {

/*

Colors
-------------------
link: #fff
visited: #497c9c
text: rgba(255,255,255,0.5)
light text: rgba(255,255,255,0.5)

*/

* {
  box-sizing: border-box;
}

/* Hide it */
.sr-list,
#sr-more-link,
.goldvertisement,
.sidecontentbox,
#ad_main,
.listing-chooser,
.trending-subreddits,
.login-form-side {
  display: none !important;
}

body {
  margin: 10px 5% !important;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif !important;
  background-color: #171717 !important;
  background-image: none !important;
  color: rgba(255,255,255,0.5);
}

body > .content {
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}

body > .content:before {
  display: none !important;
}

textarea {
  background-color: #3b3b3b !important;
  border: 1px solid rgba(255,255,255,0.1);
}

#sr-header-area {
  margin-bottom: 10px;
  text-transform: lowercase !important;
  background-color: #171717 !important;
  border-bottom: 0 !important;
  height: 18px !important;
}

#sr-header-area .srdrop {
  font-size: 12px !important;
  border-color: #ccc !important;
  padding-left: 0 !important;
}

#sr-header-area .srdrop .selected {
  margin: 0 !important;
  padding: 0 20px 0 0 !important;
}

#sr-header-area .srdrop a {
  padding: 4px 10px !important;
  color: #fff !important;
}

.srdrop .choice.bottom-option {
  border-top: solid 1px #ccc !important;
}

#sr-header-area .title {
  font-size: 14px !important;
}

#siteTable {
  margin-right: 0 !important;
  padding-top: 20px !important;
}

/* Site header */
#header {
  height: auto !important;
  margin: 0 0 12px 0 !important;
  background-color: transparent !important;
  background-image: none !important;
  border: 0 !important;
  box-shadow: none !important;
  line-height: normal !important;
}

/* Show default logo instead of custom one */
#header-img {
  position: relative !important;
  top: auto !important;
  display: inline-block !important;
  width: 120px !important;
  height: 40px !important;
  padding: 0 !important;
  margin: 0 0 3px 0 !important;
  margin-bottom: 3px !important;
  text-indent: -9999px !important;
  visibility: visible !important;
  content: url() !important;
  background-color: #171717 !important;
  background-image: url(https://www.redditstatic.com/about/assets/reddit-logo.png) !important;
  background-repeat: no-repeat !important;
  background-position: 0 0 !important;
  background-size: 120px 40px !important;
  border: 0 !important;
}

#header-img-a {
  display: inline-block !important;
  vertical-align: bottom !important;
}

#header .tabmenu {
  display: none !important;
}

#header-bottom-left {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  display: inline-block;
  height: 45px !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 12px !important;
  line-height: normal !important;
  background-color: #171717 !important;
  background-image: none !important;
}

#header-bottom-left .pagename {
  position: relative !important;
  top: 2px !important;
  left: 0 !important;
  height: 45px !important;
  margin: 0 !important;
  font-size: 22px !important;
  font-weight: normal !important;
  font-variant: normal !important;
  color: #999 !important;
  text-transform: lowercase !important;
}

#header-bottom-left .pagename a {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  display: inline !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: inherit !important;
  font-size: 22px !important;
  font-weight: normal !important;
  text-shadow: none !important;
  vertical-align: baseline !important;
  background-color: #171717 !important;
  transition: none !important;
}

#header-bottom-left .pagename a:before {
  display: none !important;
}

span[class="hover pagename redditname"] a {
  opacity: 1 !important;
}

#header-bottom-left .pagename a {
  margin-left: 0 !important;
  color: #999 !important;
  background-image: none !important;
}

#header-bottom-left .redditname a {
  float: none !important;
  text-indent: 0 !important;
}

#header-bottom-right {
  position: absolute !important;
  top: -1px !important;
  right: 0 !important;
  display: inline-block !important;
  font-size: 14px !important;
  line-height: 12px !important;
  text-align: right !important;
  background-color: transparent !important;
  border: 0 !important;
  max-width: none !important;
  height: 74px !important;
}

#header-bottom-right .user {
	position: relative !important;
  top: 0 !important;
  right: 0 !important;
  text-align: left !important;
  min-width: 0 !important;
  padding: 0 !important;
  line-height: inherit !important;
  color: rgba(255,255,255,0.5) !important;
  margin-right: 5px;
}

#header-bottom-right .user .userkarma {
  color: #8b8b8b !important;
  font-weight: normal !important;
  font-size: 14px !important;
}

#header-bottom-right a {
  color: #fff !important;
  text-indent: 0 !important;
  top: 0 !important;
  transition: none !important;
  font-weight: normal !important;
}

.logout {
  margin-left: 5px !important;
}

/* Get search box out of sidebar */
.side {
  float: none !important;
  width: 100% !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.side > .spacer {
  display: none !important;
  margin: 0 !important;
}

.side > .spacer:first-child {
  display: block !important;
  height: 0 !important;
  padding: 0 !important;
}

.side:after {
  display: none !important;
}

#search {
  position: relative !important;
  top: 0 !important;
  z-index: 100 !important;
  float: right !important;
  width: 33% !important;
  padding: 0 !important;
  margin: -45px 0 0 0 !important;
  background-image: none !important;
  border: 0 !important;
}

/* Search results */
#previoussearch > #search {
  float: inherit !important;
  width: 0% !important;
  margin: 0px 0 0 0 !important;
}

#search input[type=text] {
  width: 100% !important;
  padding: 6px 25px 6px 6px !important;
  margin: 0 !important;
  font-size: 13px !important;
  color: #ddd !important;
  background-color: #3b3b3b !important;
  background-image: none !important;
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 3px !important;
  box-shadow: none !important;
}

#search #searchexpando {
  width: 100% !important;
  background-color: #3b3b3b !important;
  border-radius: 3px !important;
}

/* Advanced search box */
.infobar {
  background-color: #3b3b3b !important;
  border: solid 1px rgba(255,255,255,0.1) !important;
  border-radius: 3px !important;
}

/* Listings */
.listing-page .link {
  padding: 0 !important;
  border-bottom: 0 !important;
}

.linkflair-amas {
  background-color: inherit !important;
}

.link.last-clicked {
  background-color: inherit !important;
}

.entry {
  margin-bottom: 15px !important;
  padding: 0 !important;
  line-height: 1.4 !important;
  border-bottom: 0 !important;
}

.thumbnail {
  float: right !important;
}

.title,
.thing .title {
  font-size: 18px !important;
  line-height: inherit !important;
  font-family: inherit !important;
  color: #fff !important;
}

.thing.stickied a.title {
  color: #fff !important;
}

.thing.stickied .entry li .comments,
.link .entry .buttons li a.comments {
  color: rgba(255,255,255,0.5) !important;
  font-weight: normal !important;
}

.title:visited,
.thing .title:visited {
  color: #577b8e !important;
}

.domain {
  display: none !important;
}

.tagline {
  margin-top: 0 !important;
  font-family: inherit !important;
  transition: none !important;
  font-size: 14px !important;
  color: rgba(255,255,255,0.5) !important;
}

.tagline a.author {
  margin-right: 0 !important;
  color: rgba(255,255,255,0.5) !important;
}

.tagline a.author:hover {
  color: #222 !important;
}

.flair-sc {
  margin-left: 3px !important;
}

.tagline a.subreddit {
  color: #fff !important;
}

.flat-list {
  margin: 0 !important;
  padding: 0 !important;
}

.flat-list a.comments {
  font-weight: normal !important;
  color: rgba(255,255,255,0.5) !important;
}

.last-clicked {
  border: 0 !important;
}

.thumbnail,
.expando-button,
.rank,
.linkflairlabel,
.share,
.link-save-button,
.link-save-button + li,
.report-button {
  display: none !important;
}

/* Voting controls */
.link .midcol {
  width: 50px !important;
  height: auto !important;
  margin: 4px 0 0 !important;
}

.link .score {
  margin-top: 2px !important;
  font-size: 14px !important;
  font-weight: normal !important;
  color: #8b8b8b !important;
}

.arrow {
  background-position: 0 0 !important;
  background-size: 14px 15px !important;
  width: 15px !important;
  height: 15px !important;
  margin: 0 auto !important;
}

.arrow.up,
.arrow.up:hover {
  background-image: url(http://jasonlong.github.io/reddit-tighty-whities/images/vote-up.png) !important;
  transition: none !important;
  background-color: transparent !important;
}

.arrow.down,
.arrow.down:hover {
  background-image: url(http://jasonlong.github.io/reddit-tighty-whities/images/vote-down.png) !important;
  transition: none !important;
  background-color: transparent !important;
}

.arrow.down:after {
  display: none !important;
}

.arrow.upmod {
  background-image: url(http://jasonlong.github.io/reddit-tighty-whities/images/vote-up-active.png) !important;
  transition: none !important;
}

.arrow.downmod {
  background-image: url(http://jasonlong.github.io/reddit-tighty-whities/images/vote-down-active.png) !important;
  transition: none !important;
}
/* Posts */
.usertext-body {
  font-size: 15px !important;
}

.usertext-body .md {
  padding: 0 !important;
  color: #ddd !important;
  background-color: #171717 !important;
  border: 0 !important;
}

div.thing.link {
  padding: 0 !important;
  border-bottom: 0 !important;
}

.panestack-title {
  padding-top: 12px !important;
  margin-right: 0 !important;
  border-top: solid 1px rgba(255,255,255,0.1) !important;
  border-bottom: 0 !important;
}

.panestack-title .title {
  font-size: 14px !important;
}

/* Comments */
.morecomments a {
  font-size: 12px !important;
}

/* New comments */
.comment-visits-box {
  padding: 0 !important;
  margin-bottom: 30px !important;
  margin-left: 10px !important;
  background-color: #171717 !important;
  border: 0 !important;
}

.comment-visits-box .title {
  font-size: 14px !important;
  font-weight: normal !important;
  color: #ff4500 !important;
}

.new-comment .usertext-body {
  padding: 0 !important;
  border: 0 !important;
}

.new-comment .usertext-body .md {
  color: #ff4500 !important;
}

/* Search page input */
.raisedbox h4 {
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(255,255,255,0.1);
}

.combined-search-page .searchpane {
  max-width: 750px;
  min-width: 600px;
  padding-left: 30px;
  padding-right: 20px;
}

/* Logged in header */
.separator {
  display: none;
}

#mail, #chat {
  margin: 0px 5px 0px 5px;
  font-size: 0;
}

/* Submit a link button */
.morelink {
  display: none;
}

/* Search results posts line */
.search-result-group-header {
  border-bottom: 2px solid rgba(255,255,255,0.1);
}

/* Comment links and all other links */
.md a, a {
  color: #fff;
}

/* Search result links */
.search-result :link, .search-result :link > mark {
  color: #fff;
}

.dropdown.lightdrop .selected {
  color: #fff;
}

.drop-choices a.choice {
  background-color: #3b3b3b;
}

#previoussearch label {
  color: #888;
}

.footer {
  border: 1px solid rgba(255,255,255,0.1);
}

.footer .col {
  border-left: 1px solid rgba(255,255,255,0.1);
}

}
